body { background-color: #ffff
}

h1 { color: green;

}
body {
	font-family: sans-serif;
		font-style: bold;
		font-size: 18px;
		font-weight: thick;
		font-variant: normal;
}

body,
.special {
	color:  black;
}

