  h1 { color: brown;

    }

    body, p { font-family: all;
		font-style: normal;
		font-size: 20px;
		font-weight: thick;
		font-variant: normal;
		
}
input {
	mask-type: text;
	background-color: pink;
}


  button .hover {
                background-color: orange;
            }
       


